.container-table {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

/* .table {
  width: 100%;
 
}
.table tbody{
    text-align: center;
}

.col {
  width: 15%;
  text-align: center;
  
} */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2} 

  
  tr .fila {
    color: rgb(226, 205, 12);
    font-weight: 600;
  }
  tr .final {
    color: rgb(124, 124, 123);
    font-weight: 600;
  }
  tr .prod {
    color: rgba(0, 110, 255, 0.904);
    font-weight: 600;
  }

