.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1px #777;
  text-align: center;
  padding: 10px;
  display: flex;
    flex-direction: column;
}
.titulo{
  font-size: 2.75rem;
  font-weight: bold;
  color: rgb(4, 62, 187);
  flex:1;
}

.sub-titulo{
  font-size: 2.0rem;
  font-weight: 600;
  color: #555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}